#container1 {
  border: 2px solid #d89337;
  background-color: #9bd2ff;
  display: grid;
  grid-template-rows: 100px 300px;
  padding: 1rem 0 0 1.5rem;
  color: #28913c;
  #heading {
    justify-self: center;
    color: #eb7d00;
  }
}
