html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: black;
    color: white;
}

.chat-page {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    nav {
        .navigation-section {
            max-width: 14rem;
            padding: 0.25rem 0.75rem 0 1.5rem;
            border-right: 1px solid #292d2f;
            .options {
                display: grid;
                margin-left: 1.5rem;
                grid-template-columns: 1fr 4fr;
                grid-template-rows: repeat(12, 2.25rem);
                justify-items: start;
                align-items: center;
                font-size: 1.05rem;
                .image {
                    padding-top: 0.2rem;
                    height: 1.5rem;
                    width: 1.5rem;
                }
                #twitter_icon{
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
            .post {
                background-color: #4696e6;
                margin: 0.25rem 0 0 0.85rem;
                border-radius: 3rem;
                width: 12rem;
                height: 2.25rem;
                display: grid;
                justify-content: center;
                align-content: center;
            }
            .nav-lower {
                display: grid;
                grid-template-columns: 2.5rem 7.1rem 1fr;
                padding: 2.5rem 0 0.75rem 1rem;
                column-gap: 0.6rem;
                .image {
                    height: 2.4rem;
                    width: 2.5rem;
                }
                .names {
                    display: grid;
                    row-gap: 0.1rem;
                    margin-bottom: 0.25rem;
                    font-size: smaller;
                    align-self: center;
                    #username {
                        font-size: smaller;
                        color: #6d7176;
                    }
                }
                #more {
                    justify-self: stretch;
                    align-self: self-start;
                    padding: 0.5rem;
                }
            }
        }
    }
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        #left {
            border-right: 1px solid #292d2f;
            #heading {
                margin: 0;
                padding: 0.41rem 1rem;
            }
            #users {
                display: grid;
                background-color: #191e23;
                padding: 0.5rem 1rem;
                justify-items: left;
                align-items: center;
                font-size: smaller;
                grid-template-columns: 2.5rem 6.7rem auto;
                img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 4rem;
                }
                #username {
                    color: #6d7176;
                }
            }
        }
        #right {
            margin-right: 0.5rem;
            border-right: 1px solid #292d2f;
            #user {
                margin: 0;
                padding: 0.5rem;
                border-bottom: 1px solid #6d7176;
            }
            #chat {
                height: 82.8%;
                padding: 0.75rem 1rem;
                justify-self: end;
                .you {
                    text-align: right;
                    height: fit-content;
                }
                .you-message {
                    font-size: smaller;
                    padding: 0.5rem 0.8rem;
                    display: inline-block;
                    width:max-content;
                    height: fit-content;
                    background-color: #008ceb;
                    border-radius: 2rem 2rem 0.1rem 2rem;
                }
                .time {
                    color: #6d7176;
                    font-size: small;
                    padding-top: 0.2rem;
                    display: block;
                }
                .user {
                    text-align: left;
                    height: fit-content;
                }
                .user-message {
                    font-size: smaller;
                    padding: 0.5rem 0.8rem;
                    display: inline-block;
                    width: max-content;
                    height: fit-content;
                    background-color: #282d2d; 
                    border-radius: 2rem 2rem 2rem 0.1rem; 
                }
            }
            #container {
                display: grid;
                height: 7%;
                border-top: 1px solid #292d2f;
                #input-div {
                    display: grid;
                    grid-template-columns: auto 7%;
                    align-items: center;
                    background-color: #191e23;
                    border-radius: 1rem;
                    margin: 0.3rem 0.65rem;
                    #msgInput {
                        margin-left: 0.75rem;
                        background-color: #191e23;
                        border: none;
                        color: white;
                    }
                    #msgInput:focus{
                        outline: none;
                    }
                    img {
                        height: 1rem;
                        width: 1rem;
                    }
                }
            }
        }
    }
}